//#FA4556
//#5ba7e4

ion-toolbar {
  // position: absolute;

  // top: 0;
  left: 0;
  right: 0;

  --background: white;
  --color: #5ba7e4;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: #5ba7e4;
}


.start-button {
  background-color: #7ffe9f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}
.stop-button {
  background-color: rgba(118, 146, 254, 0.69); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}
.cancel-button {
  background-color: #af7541; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}


css-toast{
  --height:6em;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}


// .segmentHeight{
//   --ion-grid-column-padding:20px;
// --height:1em;
//  }

// ion-segment{
//   margin:0 0 0 0;
//   ion-segment-button {
//     // --background: --ion-color-primary;
//     --background-hover-opacity: 0.5;
//     --background-hover: #FA4556;
//     // --background-checked: var(--ion-color-success);
//     // --color-checked: var(--ion-color-success-contrast);
//     --padding-start: 15px;
//     --padding-end: 15px;
//     --padding-top: 15px;
//     --padding-bottom: 15px;
//   }
// }

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  background: var(--ion-color-step-150,lightgrey);
}

// .speaker-detail p {
//   margin-left: 6px;
//   margin-right: 6px;
// }

// .speaker-detail hr {
//   margin-top: 20px;
//   margin-bottom: 20px;

//   background: var(--ion-color-step-150, red);
// }

// section {
//   margin-top: 1em;
//   margin-bottom: 2.5em;
//   margin-block-start: 1em;
//   margin-block-end: 1em;
// }


// section:not(.full-width),
// .full-width > header {
//   padding: 0 10px;
// }

ion-button{
  margin-block-start: 10px;
  margin-block-end: 10px;
  --background:transparent;
  // margin-top: 20px;
  // margin-bottom: 20px;
  align-content: center;
  // display: inline;
}

ion-radio-group{
  align-content: center;
}

// ion-row{
//   height: 4em;
//   // ion-col{
    

//   //   .segmentHeight{
//   //   height:1em

  
//   // }
//   // }
  

//   }

.test-yourself{
  font-size: 2em;
  height:3em;
  // fill:'red';
  // background-color: #e8f2f7;
// opacity:0;
}

h1.test-yourself2 {
  font-size: 1em;
}
// .test-yourself2{
//   font-size: 2em;
//   fill:'red';
//   // background-color: #e8f2f7;
// // opacity:0;
// }

ion-label .finalSlide{
font-size: 1.5em;
font-weight: bold;
}

// ion-col{
//   font-weight: bold
// }

ion-slides {
  --bullet-background: #8e2424;
}

ion-icon {
  --ionicon-stroke-width: 2em;
}

// ion-segment{
//   --background:transparent;

//   height:6em;
// }

// p .testyourself{
//   font-size: 2em;
// }

// h3{
//   height:3em;
// }


ion-card {
  min-height: 95%;
}
// ion-card .testYourself{
//   margin: 0 0 0 0;
// }

ion-slides {
  height: 95%;
}

ion-slides {
    --bullet-background:grey;
    --bullet-background-active: #000;

    ion-slide {
      background-color:#e8f2f7;
      ion-grid {
        max-height: 95%;
      }
    }
  }