<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button slot="start">
      </ion-menu-button>
      <ion-title>
        {{lesson?.name}}
      </ion-title>
      <div *ngIf="online$ | async; else offline"></div>
      <ng-template #offline>
      </ng-template>
    </ion-buttons>
      <ion-chip slot="end" color="dark">
        <app-score></app-score>
      </ion-chip>
    <div *ngIf ="lesson?.video">
      <ion-progress-bar color="warning" value="{{lesson |totalCards:this.user.attributes.sub:'doing%'}}"></ion-progress-bar>
    </div>
    <div *ngIf ="lesson?.video">
      <ion-progress-bar color="success" value="{{lesson |totalCards:this.user.attributes.sub:'done%'}}"></ion-progress-bar>
    </div>
    <div>
      <!-- <ion-progress-bar color="primary" value="{{lesson |videoScoreCards:this.user.attributes.sub}}"></ion-progress-bar> -->
    </div>
    </ion-toolbar>
</ion-header>
<ion-content>

  <!-- <div [@animateTrigger]="animate ? 'to' : 'from'">test</div> -->

  <ion-slides [pager]="true" [options]="slideOptions" (ionSlideDidChange)="isEnd()">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="lessonPlan" class="ion-align-self-center">
            <ion-label class="myCard">lessonPlan</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf='userVideo'>
          <ion-col class="ion-align-self-center">
            <ion-button size="large" expand="block" fill="outline" color="primary" shape="round" (click)="presentVideo()">Play video</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <!-- <div >
      <div *ngIf=!card._deleted> -->
    <ion-slide *ngFor="let card of lessonCards ; index as i">

      <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button size="large" color="ion-fab-button" disabled="true">
          {{(card?.users3?.items[0]?.status=="done") ? "happy" : "sad"}}
        </ion-fab-button>
      </ion-fab> -->
      <!--  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="ion-fab-button" disabled="true" size="small">
          <ion-icon size="small" name="happy-outline"></ion-icon>:{{lessonCards|totalScore:'done'}}
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="ion-fab-button" disabled="true" size="small">
          <ion-icon size="small" name="sad-outline"></ion-icon>:{{lessonCards|totalScore:'doing'}}
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="top" horizontal="end" slot="fixed" [@animateTrigger]="animate ? 'to' : 'from'">
        <ion-fab-button color="ion-fab-button" disabled="true" size="small">
          <ion-icon size="small" name="film-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->

      <ion-grid>
        <ion-row class="ion-align-items-start">
          <ion-col size="12" class="ion-align-self-start" class="ion-padding-bottom">
            <!-- <div class="ion-text-wrap">
                  <h3>{{card?.question}}</h3>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
                </div> -->
            <!-- <div class="insert-remove-container"> -->
            <div class="test-yourself"><h1 class="test-yourself2">{{card?.question}}</h1></div>
            <!-- </div> -->
          </ion-col>
        </ion-row>
        <hr>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-align-items-center">
            <!-- <div class="ion-text-wrap"> -->
            <!-- <div> -->
            <!-- <span [@myInsertRemoveTrigger]="visible ? 'start' : 'finish'" class="insert-remove-container"> -->
            <div class="test-yourself"><h1 [@testYourselfTrigger2]="visible ? 'to' : 'from'" class="test-yourself2">{{card?.answer}}</h1></div>
            <!-- </span> -->
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-end">
          <ion-col size="12" class="">
            <ng-template [ngIf]="!visible" [ngIfElse]="loading">
              <!-- <ion-row class="ion-align-items-end"> -->
              <ion-col size=7>
                <!-- <ion-label>Translate aloud</ion-label> -->
                <ion-button size="large" color="primary" disabled>
                  Translate aloud
                </ion-button>
                <!-- <br> -->
                <!-- <span *ngIf="this.isSupported() | async">Yeah, your browser is supported.</span> -->
                <!--   *ngIf="audioSupported"  *ngIf="audioSupported" <ion-button *ngIf="audioSupported" size="small" (click)="beginAudioCapture()"><ion-icon name="mic-outline"></ion-icon></ion-button> -->
                <!-- <ion-button  color="danger" size="small"  *ngIf="!isRecording && !blobUrl"  (click)="startRecording()">
                <ion-icon name="mic-outline"></ion-icon>
              </ion-button>
              <ion-button  color="primary" size="small" *ngIf="!isRecording && !blobUrl"  (click)="stopRecording()">Replay</ion-button> -->
              </ion-col>
              <ion-col size=5>
                <ion-button size="large" color="primary" class="ion-activatable ripple-parent" (click)="toggleBgMusicPlaying($event,card)">
                  Play
                  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                </ion-button>
              </ion-col>
              <!-- </ion-row> -->
            </ng-template>

            <ng-template #loading>
              <!-- <ion-radio-group  [(ngModel)]="something">
                  <ion-row>
                    <ion-col>
                         <ion-item>
                            <ion-label>A</ion-label>
                            <ion-radio mode="md" item-left value="A"></ion-radio>
                       </ion-item>
                     </ion-col>
                
                    <ion-col>
                        <ion-item>
                            <ion-label>B</ion-label>
                            <ion-radio mode="md" item-left value="B"></ion-radio>
                       </ion-item>
                    </ion-col>
                
                    <ion-col>
                        <ion-item>
                            <ion-label>C</ion-label>
                            <ion-radio mode="md" item-left value="C"></ion-radio>
                       </ion-item>
                    </ion-col>
                
                </ion-row>
                </ion-radio-group> -->

              <!-- <div class="ion-padding speaker-detail">
                  <p>{{speaker?.about}} Say hello on social media!</p>
           
              
                  <ion-chip color="twitter" button (click)="openExternalUrl('https://twitter.com/' + speaker.twitter)">
                    <ion-icon name="logo-twitter"></ion-icon>
                    <ion-label>Twitter</ion-label>
                  </ion-chip>
            
              
                  <ion-chip color="instagram" button (click)="openExternalUrl('https://instagram.com/ionicframework')">
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-label>Instagram</ion-label>
                  </ion-chip>
                </div>   [(ngModel)]="something"-->
              <ion-radio-group *ngIf="visible" (ionChange)="segmentChanged($event,card,i)">

                <!-- <ion-row class="ion-align-items-end"> -->
                <!-- [@animateTrigger]="animate ? 'to' : 'from'"  -->
                <!-- <ion-progress-bar   value="0.25" buffer="0.5"></ion-progress-bar> -->

                <!-- <div style="width:100px;height:100px; border-radius: 100%; margin: 3rem; background-color: green" [@animateTrigger]="animate ? 'to' : 'from'" ></div> -->

                <ion-row class="ion-align-items-end">
                  <ion-col size=6>
                    <ion-item color="transparent">
                      <ion-icon color="success" size="large" name="happy-outline"></ion-icon>
                      <ion-label>
                        <ion-text color="success">: Got it</ion-text>
                      </ion-label>
                      <ion-radio mode="md" item-left value="done">
                        <ion-icon color="warning" size="large" name="happy-outline"></ion-icon>
                      </ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col size=6>
                    <ion-item color="transparent">
                      <ion-icon color="warning" size="large" name="sad-outline"></ion-icon>
                      <ion-label>
                        <ion-text color="warning">: Later</ion-text>
                      </ion-label>
                      <ion-radio mode="md" item-left value="doing">
                        <ion-icon color="warning" size="large" name="sad-outline"></ion-icon>
                      </ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <!-- </ion-grid> -->
              </ion-radio-group>

              <!-- <ion-row>
              <ion-col size=6 slot="start" >
               
                <ion-button  size="large" color="warning" *ngIf="visible" (ionChange)="segmentChanged($event,card,i)">
                  <ion-icon size="large" name="sad-outline"></ion-icon>
                </ion-button>
             
              </ion-col>
              <ion-col size=6 slot="end">
                
                <ion-button  size="large" color="success" *ngIf="visible" (ionChange)="segmentChanged($event,card,i)">
                  <ion-icon size="large" name="happy-outline"></ion-icon>
                </ion-button>
            
              </ion-col>
            </ion-row> -->
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-footer class="ion-no-border">
          <ion-toolbar> -->
      <!-- <ion-grid> -->

      <!-- <ion-title>Footer - No Border</ion-title> -->

      <!-- <ion-row class="segmentHeight">
                          <ion-segment *ngIf="visible" (ionChange)="segmentChanged($event,card,i)" value="'card?.users3.items[0].status == done' ? 'done' : 'doing'" value="done">
                            <ion-segment-button value="doing" layout="icon-bottom">
                              <ion-fab-button color="warning">
                                <ion-icon size="large" name="sad-outline"></ion-icon>
                              </ion-fab-button>
                            </ion-segment-button>
                            <ion-segment-button value="done" layout="icon-bottom">
                              <ion-fab-button color="success">
                                <ion-icon size="large" name="happy-outline"></ion-icon>
                              </ion-fab-button>
                            </ion-segment-button>
                          </ion-segment>
                        </ion-row> -->

      <!-- </ion-grid> -->

      <!-- </ion-toolbar>
        </ion-footer> -->


    </ion-slide>
    <!-- </div>
    </div> -->



   <!-- TODO DO NOT DICARD!!  fix {this.doingScore.tally-->
    <!-- <ion-slide>
      <ion-card>
        <ion-card-header>
          <div class="ion-text-wrap">
            <ion-label class="finalSlide">Congratulations!</ion-label>
            <br>
            <h2>End of {{lesson?.name}}</h2>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="ion-padding">
                <div>You now have {{this.totalScore}}
                  <ion-text color="secondary">Test Yourself</ion-text>
                  <ion-text color="dark">
                    <sup>
                      <ion-icon name="information-outline"></ion-icon>
                    </sup>
                  </ion-text> points!</div>
                <br>
                <div>
                  <h4>You have a good command of {{this.doneScore.tally}} phrases</h4>
                </div>
                <div>
                  <h4>There are {{this.doingScore.tally}} phrases that still need further review</h4>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide> -->
  </ion-slides>

</ion-content>