css-toast{
  --height:6em;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

ion-segment-button {
  --background: --ion-color-primary;
  --background-hover-opacity: 0.5;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 15px;
  --padding-bottom: 15px;
}

.insert-remove-container {
  text-align: center;
  // border: 1px solid gray;
  color: #000000;
  //background-color: yellow;
  font-weight: bold;
  font-size: 2em;
}

ion-label{
font-size: 1.5em;
font-weight: bold;
}

ion-col{
  font-weight: bold
}

ion-slides {
  --bullet-background: #8e2424;
}

ion-icon {
  --ionicon-stroke-width: 2em;
}

ion-segment{
  --background:transparent;
  height:6em;
}

p .testyourself{
  font-size: 2em;
}

// h3{
//   height:3em;
// }


ion-card {
  min-height: 25%;
}
ion-card .testYourself{
  margin: 0 0 0 0;
}

ion-slides {
  height: 100%;
}

ion-slides {
    --bullet-background:grey;
    --bullet-background-active: #000;

    ion-slide {

      ion-grid {
        max-height: 100%;
      }
      //height: 400px !important;
      

    //   &:nth-child(1) {
    //     background-color: lightpink;
    //   }

    //   &:nth-child(2) {
    //     background-color: lightgreen;
    //   }

    //   &:nth-child(3) {
    //     background-color: lightblue;
    //   }
    }
  }