<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>{{lesson?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-slides [pager]="true" [options]="slideOptions" (ionSlideDidChange)="isEnd()">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="lessonPlan" class="ion-align-items-center">
            <ion-label class="myCard">lessonPlan</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf='modelVideoId'>
          <ion-col class="ion-align-items-center">
            <ion-button size="large" expand="block" fill="outline" color="primary" shape="round" (click)="presentVideo()">Play video</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <!-- <div >
      <div *ngIf=!card._deleted> -->
    <ion-slide *ngFor="let card of lessonCards ; index as i">

     <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button size="large" color="ion-fab-button" disabled="true">
          {{(card?.users3?.items[0]?.status=="done") ? "happy" : "sad"}}
        </ion-fab-button>
      </ion-fab>
      <!--  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="ion-fab-button" disabled="true" size="small">
          <ion-icon size="small" name="happy-outline"></ion-icon>:{{lessonCards|totalScore:'done'}}
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="ion-fab-button" disabled="true" size="small">
          <ion-icon size="small" name="sad-outline"></ion-icon>:{{lessonCards|totalScore:'doing'}}
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="ion-fab-button" disabled="true" size="small">
          <ion-icon size="small" name="film-outline"></ion-icon>:{{userVideo?.score}}
        </ion-fab-button>
      </ion-fab> -->

      <ion-grid class="ion-padding-vertical">
        <ion-row>
          <ion-col>
            <div class="insert-remove-container">
              <p class="testYourself">{{card?.question}}</p>
            </div>
            <!-- <div class="ion-text-wrap">
                  <h3>{{card?.question}}</h3>
                </div> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <!-- <div class="ion-text-wrap"> -->
            <!-- <div> -->
              <div [@myInsertRemoveTrigger]="visible ? 'open' : 'closed'" class="insert-remove-container">
                <p class="testYourself">{{card?.answer}}</p>
              </div>
              <!-- Skeleton screen -->
              <!-- <div *ngIf="!visible">
                      <div class="ion-padding custom-skeleton">
                        <ion-skeleton-text animated style="width: 60%">{{card?.answer}}</ion-skeleton-text>
                        <ion-skeleton-text animated>{{card?.answer}}</ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                      </div>
                      </div> -->

              <!-- <h3 > 
                      <span *ngIf="visible">{{card?.answer}}</span>
                  </h3> -->
              <!-- <ion-skeleton-text animated  *ngIf="visible" class ='custom-skeleton'></ion-skeleton-text> -->
            <!-- </div> -->
            <!-- <ion-card class="testYourself"> -->
            <!-- <ion-card-title *ngIf="visible"> -->

            <!-- <ion-label *ngIf="visible">{{card?.answer}}</ion-label> -->

            <!-- </ion-card-title> -->
            <!-- </ion-card> -->
            <!-- </ion-card> -->
          </ion-col>
        </ion-row>
        <ion-row class="segmentHeight" *ngIf="!visible">
          <ion-col size=7>
            <!-- <ion-item> -->
            <ion-label>Translate aloud</ion-label><br>
            <ion-button *ngIf="audioSupported" size="small" (click)="startPlay()">start</ion-button>
            <ion-button *ngIf="audioSupported" size="small" (click)="stopPlay()">Replay</ion-button>
            <!-- </ion-item> -->
          </ion-col>
          <ion-col size=5>
            <ion-button size="large" color="primary" class="ion-activatable ripple-parent" (click)="toggleBgMusicPlaying($event,card)">
              Play
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-button>
          </ion-col>
          <ion-col>
          </ion-col>
          <!-- <ion-segment *ngIf="!visible"> -->
          <!-- <ion-segment-button>
                  <ion-label color="primary">
                    <b>Translate aloud</b>
                  </ion-label>
                </ion-segment-button>
                <ion-segment-button (click)="toggleBgMusicPlaying($event,card)">
                  <ion-icon size="large" name="play-circle-outline"></ion-icon>
                </ion-segment-button>
              </ion-segment> -->
        </ion-row>
        <ion-row class="segmentHeight">
          <ion-segment *ngIf="visible" (ionChange)="segmentChanged($event,card,i)" value="'card?.users3.items[0].status == done' ? 'done' : 'doing'">
            <ion-segment-button color="primary" value="doing" layout="icon-bottom">
              <ion-fab-button color="warning">
                <ion-icon size="large" name="sad-outline"></ion-icon>
              </ion-fab-button>
            </ion-segment-button>
            <ion-segment-button value="done" layout="icon-bottom">
              <ion-fab-button color="success">
                <ion-icon size="large" name="happy-outline"></ion-icon>
              </ion-fab-button>
            </ion-segment-button>
          </ion-segment>
        </ion-row>
      </ion-grid>


    </ion-slide>
    <!-- </div>
    </div> -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <div class="ion-text-wrap">
            <ion-label>Congratulations!</ion-label>
            <br>
            <h2>End of {{lesson?.name}}</h2>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="ion-padding">
                <div>You now have {{this.totalScore}}
                  <ion-text color="primary">Test Yourself</ion-text>
                  <ion-text color="dark">
                    <sup>
                      <ion-icon name="information-outline"></ion-icon>
                    </sup>
                  </ion-text> points!</div>
                <br>
                <div>
                  <h4>You have a good command of {{this.doneScore.tally}} phrases</h4>
                </div>
                <div>
                  <h4>There are {{this.doingScore.tally}} phrases that still need further review</h4>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>