audio{
    margin: 0 auto;
    display: block;
}

.toast-scheme
{
background:red;
}

ion-textarea{
  color:green
}

ion-slides {
    --bullet-background: #eee;
    --bullet-background-active: #000;

    ion-slide {
      height: 400px !important;

      &:nth-child(1) {
        background-color: lightpink;
      }

      &:nth-child(2) {
        background-color: lightgreen;
      }

      &:nth-child(3) {
        background-color: lightblue;
      }
    }
  }