<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-title>
        Review Card
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="support-logo">



    <ion-grid class="ion-align-items-center">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-align-self-start" class="ion-padding-bottom">
          <div class="test-yourself">
            <h1 class="test-yourself2">{{card?.question}}</h1>
          </div>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-align-items-center">
          <!-- <h1 [@testYourselfTrigger2]="visible ? 'to' : 'from'" class="test-yourself2">{{card?.answer}}</h1> -->
          <div class="test-yourself">
            <h1 [@testYourselfTrigger2]="visible ? 'to' : 'from'" class="test-yourself2">{{card?.answer}}</h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-end">
        <ion-col size="12" class="">
          <ng-template [ngIf]="!visible" [ngIfElse]="loading">
            <ion-col size=7>
              <ion-button size="large" color="primary" disabled>
                Translate aloud
              </ion-button>
            </ion-col>
            <ion-col size=5>
              <ion-button size="large" color="primary" class="ion-activatable ripple-parent" (click)="toggleBgMusicPlaying($event,card)">
                Play
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
              </ion-button>
            </ion-col>
          </ng-template>

          <ng-template #loading>
            <ion-row>
              <ion-col>
                <ion-button size="large" color="success" class="ion-activatable ripple-parent" (click)="myDone(card)">
                  <ion-icon color="dark" size="large" name="happy-outline"></ion-icon>
                  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button size="large" color="warning" class="ion-activatable ripple-parent" (click)="myDoing(card)">
                  <ion-icon color="dark" size="large" name="sad-outline"></ion-icon>
                  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                </ion-button>
              </ion-col>
            </ion-row>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>