<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Confirmation</ion-title>
        <!-- <ion-buttons slot="end">
            <ion-button (click)="cancel()">Sign Out</ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
    <form [formGroup]="confirmForm" novalidate>
        <ion-list lines="none">
                <ion-item>
                        <ion-label position="stacked" color="primary">Email</ion-label>
                        <ion-input placeholder="email" type="text" formControlName="email" required>
                        </ion-input>
                       
                    </ion-item>
            <ion-item>
                <ion-label position="stacked" color="primary">Confirmation code</ion-label>
                <ion-input placeholder="Confirmation Code" type="text" formControlName="code" required>
                </ion-input>
                <ion-text *ngIf="!codeInput.value">Enter the confirmation code that was emailed to you</ion-text>
            </ion-item>
        </ion-list>

        <div class="ion-padding">
            <ion-button (click)="confirmCode()" type="submit" expand="block">Confirm</ion-button>
        </div>
        <ion-text>Didn't receive a code?
            <a href="javascript:void(null)" (click)="sendAgain()">Send again</a>
        </ion-text>
    </form>





    <!-- <form [formGroup]="confirmForm">
        <ion-grid>
            <ion-row>
                <ion-label>Enter confirmation code</ion-label>
            </ion-row>
            <ion-row>
                <ion-label>Confirmation code</ion-label>
                <ion-input placeholder="Confirmation Code" type="text" formControlName="code" required></ion-input>
            </ion-row>
            <ion-row>
                <ion-text *ngIf="!codeInput.value">Enter the confirmation code that was emailed to you</ion-text>
            </ion-row>
            <ion-row>
                <ion-button color="primary" (click)="confirmCode()">Confirm</ion-button>
            </ion-row>
            <ion-row>
                <p>Didn't receive a code?
                    <a href="javascript:void(null)" (click)="sendAgain()">Send again</a>
                </p>
            </ion-row>
        </ion-grid> -->

    <!-- <ion-item>
                <ion-label>Email</ion-label>
                <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
            </ion-item>
        <ion-item>
                <ion-label>Username</ion-label>
                <ion-input type="text" placeholder="username" formControlName="username"></ion-input>
            </ion-item>
        <ion-item>
            <ion-label>Confirmation code</ion-label>
            <ion-input placeholder="Confirmation Code" type="text" formControlName="code" required></ion-input>
        </ion-item>
        <ion-text *ngIf="!codeInput.value">Enter the confirmation code that was emailed to you</ion-text>

        <ion-button color="primary" (click)="confirmCode()">Confirm</ion-button>
        <p>Didn't receive a code?
            <a href="javascript:void(null)" (click)="sendAgain()">Send again</a>
        </p> -->
    <!-- </form> -->

</ion-content>