<ion-header>
  <ion-toolbar>
    <ion-title>
        Review
      </ion-title>
    <ion-button slot="end" (click)="dismiss()">Update</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of (reviewList$ | async)">
      <ion-item detail (click)="showCard(item)" [class]="item.status">
        <ion-label>
          {{item?.question}}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" expandable>
          <ion-icon name="happy-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-slides [pager]="true" [options]="slideOptions" (ionSlideDidChange)="isEnd()">
    <ion-slide *ngFor="let card of (reviewList$ | async) ; index as i">

      <ion-grid>
        <ion-row class="ion-align-items-start">
          <ion-col size="12" class="ion-align-self-start" class="ion-padding-bottom">
            <div class="test-yourself">
              <h1 class="test-yourself2">{{card?.question}}</h1>
            </div>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-align-items-center">
            <div class="test-yourself">
              <h1 [@testYourselfTrigger2]="visible ? 'to' : 'from'" class="test-yourself2">{{card?.answer}}</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-end">
          <ion-col size="12" class="">
            <ng-template [ngIf]="!visible" [ngIfElse]="loading">
              <ion-col size=7>
                <ion-button size="large" color="primary" disabled>
                  Translate aloud
                </ion-button>
              </ion-col>
              <ion-col size=5>
                <ion-button size="large" color="primary" class="ion-activatable ripple-parent" (click)="toggleBgMusicPlaying($event,card)">
                  Play
                  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                </ion-button>
              </ion-col>
            </ng-template>

            <ng-template #loading>
              <ion-radio-group *ngIf="visible" (ionChange)="segmentChanged($event,card,i)">
                <ion-row class="ion-align-items-end">
                  <ion-col size=6>
                    <ion-item color="transparent">
                      <ion-icon color="success" size="large" name="happy-outline"></ion-icon>
                      <ion-label>
                        <ion-text color="success">: Got it</ion-text>
                      </ion-label>
                      <ion-radio mode="md" item-left value="done">
                        <ion-icon color="warning" size="large" name="happy-outline"></ion-icon>
                      </ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col size=6>
                    <ion-item color="transparent">
                      <ion-icon color="warning" size="large" name="sad-outline"></ion-icon>
                      <ion-label>
                        <ion-text color="warning">: Later</ion-text>
                      </ion-label>
                      <ion-radio mode="md" item-left value="doing">
                        <ion-icon color="warning" size="large" name="sad-outline"></ion-icon>
                      </ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides> -->
</ion-content>