<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-button slot="end" (click)="dismiss()">Update</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        Review
      </ion-label>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let item of (reviewList$ | async)">
      <ion-item detail (click)="showCard(item)" [class]="item.status">
        <ion-label>
          {{item?.question}}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" expandable>
          <ion-icon name="happy-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>