<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sign in</ion-title>
        <!-- <ion-buttons slot="end" *ngIf="isLoggedIn">
            <ion-button (click)="cancel()">Sign Out</ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
                <ion-col size="1"></ion-col>
            <ion-col>
                <form [formGroup]="signinForm">
                    <h2>Sign in</h2>
                    <ion-item>
                        <ion-label>Username</ion-label>
                        <ion-input type="text" name="username" formControlName="username" placeholder="username"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Password</ion-label>
                        <ion-input type="password" name="password" formControlName="password" placeholder="password"></ion-input>
                    </ion-item>
                    <ion-button slot="end" color="primary" (click)="signIn()" [disabled]="!signinForm.valid">Sign In</ion-button>
                    <!-- <p style="text-align:center;">or</p> -->
                    <!-- <ion-button color="primary" (click)="signInWithFacebook()">Sign In with Facebook</ion-button> -->
                    <!-- <br/> -->
                    <br/>
                    <p>Don't have an account?
                        <a routerLink="/signup">Sign up</a>
                    </p>
                </form>
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>