


.video-js{
  // height:height;
  width:100%;
}

// .vjs-default-skin.vjs-paused .vjs-big-play-button .vjs-control-bar
// {
// display: none;
// }

// .vjs-default-skin.vjs-paused .vjs-control-bar
// {
// display: block;
// }

// .video-js .vjs-big-play-button {
//   align-content: center;
//   background-color: #B37D5B;
//   opacity: .6;
// }

// .video-js .vjs-big-play-button {
//   left: 40% !important;
//   top: 40% !important;
//   width: 20%;
//   height: 20%;
// }

// .video-js .vjs-play-control:before {
//   top:20% !important;
//   content: '\f101';
//   font-size: 48px;
// }

// .video-js .vjs-control-bar {
//   display: none;
// }

// .video-js .vjs-play-progress {
//   background-color: green;
// }



ion-slides {
  height: 95%;
}

ion-slides {
    --bullet-background:grey;
    --bullet-background-active: #000;

    ion-slide {
      background-color:#e8f2f7;
      ion-grid {
        max-height: 95%;
      }
    }
  }