
.video-js{
  // height:height;
  width:100%;
}

ion-slides {
  height: 95%;
}

ion-slides {
    --bullet-background:grey;
    --bullet-background-active: #000;

    ion-slide {
      background-color:#e8f2f7;
      ion-grid {
        max-height: 95%;
      }
    }
  }