// ion-item {
//   --ion-background-color: white !important;
// }

// .item, .list, .item-content, .item-complex {
//   --ion-background-color: transparent !important;
// }

//#ffce00;

ion-slides {
  height: 100%;
}
ion-grid {
  .done {
  background-color:#10dc60;
  }
  .toDo {
    background-color: transparent !important;
  }
  .doing {
    background-color: #ffce00;
  }
}


// .done {
//   --ion-background-color:#10dc60;
// }
// .toDo {
//   --ion-background-color: transparent !important;
// }
// .doing {
//   --ion-background-color: #ffce00;
// }



