.player--container {
    height: auto;
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .player-controls {
      margin-bottom: 8px;
    }   
    .player-progress {
      max-width: 320px;
      width: 100%;
      height: 4px;
      background-color: #999;
      border-radius: 4px;
      position: relative;
      .player-progress--inner {
        background-color: #327eff;
        border-radius: 4px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        transition: all .1s linear;
      }
    }
  }