ion-toolbar {
  // position: absolute;

  // top: 0;
  left: 0;
  right: 0;

  --background: white;
  --color: #5ba7e4;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: #5ba7e4;
}

//   ion-progress-bar .progress {
//     --offset-top: 0px;
//     --offset-bottom: 5px;
//   }

  ion-content {
    --offset-bottom: 7;
      ion-progress-bar {
    // margin: 1px 0;
    --offset-bottom: 1;
  }
}
 

//   ion-card .progress-bar{
//       margin: 50px 5px 5px 5px
//   }