<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button slot="start">
      </ion-menu-button>
      <ion-title>
        Lessons
      </ion-title>
      <div *ngIf="online$ | async; else offline"></div>
      <ng-template #offline>
      </ng-template>
    </ion-buttons>

    <!-- <div>
      <ion-progress-bar color="warning" value="{{doingScore}}"></ion-progress-bar>
    </div>
    <div>
      <ion-progress-bar color="success" value="{{doneScore}}"></ion-progress-bar>
    </div>
    <div>
      <ion-progress-bar color="danger" value="{{videoScore}}"></ion-progress-bar>
    </div> -->
  </ion-toolbar>
</ion-header>




<ion-content class="ion-text-center">
  <!-- <ion-refresher ion-refresher slot="fixed" (ionRefresh)="reloadItems($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher> -->
  <!-- {{currentScores|json}} -->
  <!-- {{lessons|json}} -->

  <!-- <ion-segment>

    <span *ngFor="let item of progress">

      <span *ngIf="item.key ==='doing'">
        <ion-chip color="warning">
          <ion-icon name="sad-outline"></ion-icon>
          <ion-label>{{item.value.total}}</ion-label>
        </ion-chip>
      </span>
      <span *ngIf="item.key ==='done'">
        <ion-chip color="success">
          <ion-icon name="happy-outline"></ion-icon>
          <ion-label>{{item.value.total}}</ion-label>
        </ion-chip>
      </span>
    </span>
    <span>
      <ion-chip>
        <ion-icon name="trophy"></ion-icon>
        <ion-label>{{progress?.total}}</ion-label>
      </ion-chip>
    </span>
  </ion-segment> -->


<!-- 
  <ion-item-sliding *ngFor="let card of cards; index as i">
      <ion-item>
        <ion-badge slot="start">{{i+1}}</ion-badge>
        {{card.question}}
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option expandable (click)="presentModal(card,i)">
          Edit
        </ion-item-option>
          <ion-item-option expandable (click)="delete(card)">
            Delete
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding> -->



  <ion-list #scheduleList>
    <ion-item-sliding *ngFor="let lesson of lessons">
      <!-- <ion-item-divider sticky>  /-->
      <ion-item detail (click)="showCards(lesson?.id)" *ngIf=!lesson._deleted>
        <ion-label>
          <h1>{{lesson?.name}}
            <ion-chip>
              <ion-label class="points">{{lesson |totalScore:this.user.attributes.sub:'total'}} points</ion-label>
            </ion-chip>
          </h1>

          <ion-text wrap class="ion-text-wrap">{{lesson?.description}}</ion-text>
  

  
       <!-- done:{{lesson |totalScore:'done'}}
doing:{{lesson |totalScore:doing}} -->
          <!-- total:{{lesson |totalScore:'done'}} -->
          <!-- video: {{lesson | totalScore:this.user:'video'}} -->
          <!-- video: {{lesson |'videoScore'}} -->
          <ion-grid>
              <ion-row>
                  <ion-col size=1>
                      <ion-icon name="film-outline"></ion-icon>:
                      <!-- <span>{{lesson |videoScore:lesson.id}}</span> -->
                    </ion-col>
                    <ion-col size=5 class="progress">
                      <ion-progress-bar color="primary" value="{{lesson |videoScore:this.user.attributes.sub | async}}"></ion-progress-bar>
                    </ion-col>
                  <!-- <ion-col size=4>
                      <ion-chip color="warning">
                          <ion-icon name="sad-outline"></ion-icon>
                          <ion-label>{{lesson |totalScore:'doing'}}</ion-label>
                        </ion-chip>
                    </ion-col> -->
                    <ion-col size=4 class="progress">
                        <ion-progress-bar color="success" value="{{lesson |totalScore:this.user.attributes.sub:'done%'}}"></ion-progress-bar>
                      </ion-col>
                  <ion-col size=2>
                    <div>{{lesson |totalScore:this.user.attributes.sub:'done'}}/{{lesson |totalScore:this.user.attributes.sub:'total'}}</div>
                  </ion-col>
                 
                  
                    <!-- <ion-col size=3 class="progress"> -->
                        
                      <!-- <ion-progress-bar color="warning" value="{{lesson |totalScore:'doing%'}}"></ion-progress-bar> -->
                    <!-- </ion-col> -->


                </ion-row>

            <!-- <ion-row>
              <ion-col size=1>
                <span>{{lesson |totalScore:'done'}}</span>
              </ion-col>
              <ion-col size=11 class="progress">
                <ion-progress-bar color="success" value="{{lesson |totalScore:'done%'}}"></ion-progress-bar>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size=1>
                <span>{{lesson |totalScore:'doing'}}</span>
              </ion-col>
              <ion-col size=11>
                <ion-progress-bar color="warning" value="{{lesson |totalScore:'doing%'}}"></ion-progress-bar>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size=1>
                <p>{{lesson |videoScore:lesson.id}}</p>
              </ion-col>
              <ion-col size=11>
                <ion-progress-bar color="danger" value="{{lesson |videoScore:lesson.id}}"></ion-progress-bar>
              </ion-col>
            </ion-row> -->
          </ion-grid>
          <!-- <div>
              <span></span> 
          </div>
          <div>
              {{lesson |totalScore:'done'}}<ion-progress-bar color="success" value="{{lesson |totalScore:'done%'}}"></ion-progress-bar>
          </div>
          <div>
            <ion-progress-bar color="danger" value="{{lesson |videoScore:lesson.id}}"></ion-progress-bar>
          </div> -->
        </ion-label>
        <!-- <h1>{{lesson?.description}}</h1> -->
        <!-- <ion-note>{{lesson?.description}}</ion-note> -->

      </ion-item>
      <ion-item-options side="end">
          <ion-item-option color="warning" expandable (click)="presentModal(card,i)">
           <ion-grid>
             <ion-row>
                Review 
             </ion-row>
             <ion-row>
                <ion-icon name="sad-outline"></ion-icon>
             </ion-row>
             <ion-row>
                {{lesson |totalScore:this.user.attributes.sub:'doing'}} cards
             </ion-row>
           </ion-grid>
            <!-- <div> Review </div><br>
            <ion-icon name="sad-outline"></ion-icon> <br>
            <div>{{lesson |totalScore:'doing'}} cards</div> -->
          </ion-item-option>
          </ion-item-options>

      <!-- </ion-item-divider> -->

      <!-- <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase"
          [hidden]="session.hide">
          <ion-item routerLink="/app/tabs/schedule/session/{{session.id}}">
            <ion-label>
              <h3>{{session.name}}</h3>
              <p>
                {{session.timeStart}} &mdash; {{session.timeEnd}}: {{session.location}}
              </p>
            </ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
              Favorite
            </ion-item-option>
            <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"
              *ngIf="segment === 'favorites'">
              Remove
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding> -->
    </ion-item-sliding>
  </ion-list>


  <!-- <div *ngFor="let lesson of lessons">
   
    <ion-card button=true (click)="showCards(lesson?.id)" *ngIf=!lesson._deleted>
      <ion-card-header class="ion-text-start" *ngIf=lesson>
        <ion-card-title>{{ lesson?.name }}
          <ion-chip>
            <ion-label class="points">{{lesson |totalCards}} points</ion-label>
          </ion-chip>
        </ion-card-title>
       
        <ion-card-subtitle>{{lesson?.description}}</ion-card-subtitle>
     
      </ion-card-header>
      <ion-grid *ngIf=lesson>
        <ion-row>

        </ion-row>
        <ion-row>
          <ion-col *ngIf=lesson>
            <ion-chip color="success">
              <ion-icon name="happy-outline"></ion-icon>
              <ion-label>{{lesson |sumScore:'done'}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col *ngIf=lesson>
            <ion-chip color="warning">
              <ion-icon name="sad-outline"></ion-icon>
              <ion-label>{{lesson |sumScore:'doing'}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col *ngIf=lesson>
            <ion-chip>
              <ion-icon name="film-outline"></ion-icon>
              <ion-label>{{lesson |videoScore:lesson}}</ion-label>
            </ion-chip>
          </ion-col>
        
        </ion-row>
      </ion-grid>
    </ion-card>
  </div> -->
</ion-content>

<!-- Option 2:virtual scroll...

  <ion-item>
    <ion-label>
      <strong>Available Lessons:</strong>
    </ion-label>
  </ion-item>
  <ion-virtual-scroll [items]="lessons" approxItemHeight="{{height/2}}px">
    <ion-list *virtualItem="let lesson">
      <ion-card-header>
        <ion-card-title>{{ lesson.name }}</ion-card-title>
        <ion-card-subtitle>track description...</ion-card-subtitle>
      </ion-card-header>
      <ion-card>
        <ion-grid>
          <ion-row>
            <span *ngIf='lesson?.cards3.items'>
              <span *ngFor="let cards of lesson?.cards3.items">
              

                <span *ngFor="let userCard of cards?.users3.items">
                  <span *ngIf="userCard?.status == 'done'">
                    <ion-col>
                      <ion-chip outline color="success">
                        <ion-label>
                          <ion-icon name="happy"></ion-icon>
                        </ion-label>
                      </ion-chip>
                    </ion-col>
                  </span>

                  <span *ngIf="userCard?.status == 'doing'">
                    <ion-col>
                      <ion-chip outline color="warning">
                        <ion-label>
                          <ion-icon name="sad"></ion-icon>
                        </ion-label>
                      </ion-chip>
                    </ion-col>
                  </span>

                </span>
              </span>

            </span>

          </ion-row>
          <ion-row>
            <ion-col>Score: {{lesson |sumScore:'done'}}</ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

    </ion-list>
  </ion-virtual-scroll> -->


<!-- </ion-card> -->

<!-- <div *ngIf='height && width' appChart [ObjectHeight]="height" [ObjectWidth]="width"></div> -->



<!-- <amplify-s3-image-ionic [options]="{'level': 'protected'}" > <source src="https://intuitist3b5431a0c82349ddab2c0001221c9c37-dev.s3.amazonaws.com/protected/bbb_sunflower_1080p_60fps_normal.mp4" type="video/mp4"></amplify-s3-image-ionic> -->


<!-- <ion-footer no-border>  
    <ion-toolbar color="secondary" class="ion-text-center">
      <ion-button fill="outline" color="light" (click)="promptQuiz()">
        Quiz Me
        <ion-icon slot="end" name="albums"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-footer>   -->







<!-- 

<ion-header>
  <ion-toolbar>
    <ion-title>
      Intuitist
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <app-flash-card [frontContent]="item.eng" [backContent]="item.fr"></app-flash-card>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="removeItem(item)" color="danger">
          <ion-icon size="large" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="removeItem(item)" color="warning">
          <ion-icon size="large" name="sad"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="removeItem(item)" color="success">
          <ion-icon size="large" name="happy"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-footer>
      <ion-item>
        <ion-label>Progress tracker</ion-label>
      </ion-item>
      <div *ngIf='height && width' appChart [ObjectHeight]="height" [ObjectWidth]="width"></div>
  </ion-footer>
</ion-content> -->