<ion-header no-border>
  <ion-toolbar>
    <ion-buttons >
      <ion-menu-button slot="start">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lessons
    </ion-title>
    <ion-menu-button slot="end">
        <div *ngIf="online$ | async; else offline"></div>
        <ng-template #offline>
          <ion-chip color="warning">
            <ion-label>Offline
            </ion-label>
          </ion-chip>
        </ng-template>
      </ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <!-- <ion-refresher ion-refresher slot="fixed" (ionRefresh)="reloadItems($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher> -->
  <!-- {{currentScores|json}} -->
  <!-- {{lessons|json}} -->

  <!-- <ion-segment>

    <span *ngFor="let item of progress">

      <span *ngIf="item.key ==='doing'">
        <ion-chip color="warning">
          <ion-icon name="sad-outline"></ion-icon>
          <ion-label>{{item.value.total}}</ion-label>
        </ion-chip>
      </span>
      <span *ngIf="item.key ==='done'">
        <ion-chip color="success">
          <ion-icon name="happy-outline"></ion-icon>
          <ion-label>{{item.value.total}}</ion-label>
        </ion-chip>
      </span>
    </span>
    <span>
      <ion-chip>
        <ion-icon name="trophy"></ion-icon>
        <ion-label>{{progress?.total}}</ion-label>
      </ion-chip>
    </span>
  </ion-segment> -->

  <div></div>
  <ion-card button=true (click)="showCards(lesson?.id)" *ngFor="let lesson of lessons">
    <ion-card-header class="ion-text-start" *ngIf=lesson>
      <ion-card-title>{{ lesson?.name }}
        <!-- <ion-chip>
          <ion-label>{{lesson |totalCards}} points</ion-label>
        </ion-chip> -->
      </ion-card-title>
      <!-- <span>({{lesson |totalCards}} points)</span> -->
      <ion-card-subtitle>{{lesson?.description}}</ion-card-subtitle>
      <!-- <ion-item detail='true'> -->
      <!-- <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail> -->
      <!-- <ion-label>{{lesson.description}}</ion-label> -->
      <!-- </ion-item> -->
    </ion-card-header>
    <ion-grid *ngIf=lesson>
      <ion-row>

      </ion-row>
      <ion-row>
        <ion-col *ngIf=lesson>
          <ion-chip color="success">
            <ion-icon name="happy-outline"></ion-icon>
            <ion-label>{{lesson |sumScore:'done'}}</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col *ngIf=lesson>
          <ion-chip color="warning">
            <ion-icon name="sad-outline"></ion-icon>
            <ion-label>{{lesson |sumScore:'doing'}}</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col *ngIf=lesson>
          <ion-chip>
            <ion-icon name="film-outline"></ion-icon>
            <ion-label>{{lesson |videoScore:lesson.id}}</ion-label>
          </ion-chip>
        </ion-col>
        <!-- <ion-col>
          <ion-chip>
            <ion-label>/ {{lesson |totalCards}}</ion-label>
          </ion-chip>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<!-- Option 2:virtual scroll...

  <ion-item>
    <ion-label>
      <strong>Available Lessons:</strong>
    </ion-label>
  </ion-item>
  <ion-virtual-scroll [items]="lessons" approxItemHeight="{{height/2}}px">
    <ion-list *virtualItem="let lesson">
      <ion-card-header>
        <ion-card-title>{{ lesson.name }}</ion-card-title>
        <ion-card-subtitle>track description...</ion-card-subtitle>
      </ion-card-header>
      <ion-card>
        <ion-grid>
          <ion-row>
            <span *ngIf='lesson?.cards3.items'>
              <span *ngFor="let cards of lesson?.cards3.items">
              

                <span *ngFor="let userCard of cards?.users3.items">
                  <span *ngIf="userCard?.status == 'done'">
                    <ion-col>
                      <ion-chip outline color="success">
                        <ion-label>
                          <ion-icon name="happy"></ion-icon>
                        </ion-label>
                      </ion-chip>
                    </ion-col>
                  </span>

                  <span *ngIf="userCard?.status == 'doing'">
                    <ion-col>
                      <ion-chip outline color="warning">
                        <ion-label>
                          <ion-icon name="sad"></ion-icon>
                        </ion-label>
                      </ion-chip>
                    </ion-col>
                  </span>

                </span>
              </span>

            </span>

          </ion-row>
          <ion-row>
            <ion-col>Score: {{lesson |sumScore:'done'}}</ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

    </ion-list>
  </ion-virtual-scroll> -->


<!-- </ion-card> -->

<!-- <div *ngIf='height && width' appChart [ObjectHeight]="height" [ObjectWidth]="width"></div> -->



<!-- <amplify-s3-image-ionic [options]="{'level': 'protected'}" > <source src="https://intuitist3b5431a0c82349ddab2c0001221c9c37-dev.s3.amazonaws.com/protected/bbb_sunflower_1080p_60fps_normal.mp4" type="video/mp4"></amplify-s3-image-ionic> -->


<!-- <ion-footer no-border>  
    <ion-toolbar color="secondary" class="ion-text-center">
      <ion-button fill="outline" color="light" (click)="promptQuiz()">
        Quiz Me
        <ion-icon slot="end" name="albums"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-footer>   -->







<!-- 

<ion-header>
  <ion-toolbar>
    <ion-title>
      Intuitist
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <app-flash-card [frontContent]="item.eng" [backContent]="item.fr"></app-flash-card>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="removeItem(item)" color="danger">
          <ion-icon size="large" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="removeItem(item)" color="warning">
          <ion-icon size="large" name="sad"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="removeItem(item)" color="success">
          <ion-icon size="large" name="happy"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-footer>
      <ion-item>
        <ion-label>Progress tracker</ion-label>
      </ion-item>
      <div *ngIf='height && width' appChart [ObjectHeight]="height" [ObjectWidth]="width"></div>
  </ion-footer>
</ion-content> -->