// button.botton-native:hover {
//   --background: yellow;
// }

// #css
// :host {
//   ion-item:hover { 
//     --background-hover: #000000 #color of choice 
//   }
// }


:host {
  ion-item-option {
    &:hover {
      --background-hover: yellow;
    }
  }
}

ion-toolbar {
  // position: absolute;

  // top: 0;
  left: 0;
  right: 0;

  --background: white;
  --color: #5ba7e4;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: #5ba7e4;
}

// .item-options-start {
//   background-color: #5ba7e4;
// }

video {
    display: block;
    margin: auto;
  }

  ion-row{
    font-size:0.75em;
  }

  ion-progress-bar{
    // margin-top: 0.5em;
    height:1em;
  }
  ion-col{
    padding: 0 10 0 0px;
  }

  // progress{
  //   padding-top:15px;
  // }

  // ion-label{
  //   font-size: 0.7em
  // }

//   :root ion-card ion-label {
//     --background: rgb(20, 20, 20);
//     --padding-start: 15px;
//     --padding-end: 15px;
//     --padding-top: 15px;
//     --padding-bottom: 15px;
//     font-size: 1.5rem;
//     .points{
//       font-size: 0.5rem;
//     }
// }

ion-chip ion-label{
  --background:lightgrey;
  font-size: 0.8rem;
}